@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: #FFFDF7;
  --gray : #F9F7F1;
  --black : #272528;
  --blue : #083EB5;
  --red : #E22403;
  --yellow : #FFBE46;
}

#project-tile #bg {
  background-color: transparent;
  opacity: 0;
}

#project-tile:hover #bg {
  background-color: #000000;
  opacity: 0.2;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
